/* Relative URL with quotes */
.class1 {
   background:url("../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png") no-repeat;
}
/* Relative URL with single quotes */
.class2 {
   background:url('../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png') no-repeat;
}
/* Relative URL without quotes */
.class3 {
   background:url(../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png) no-repeat;
}
/* Relative URLs on the same line with single quotes */
.class4 {
   background:url('../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png') no-repeat; background:url('../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png') no-repeat;
}
/* Relative URL with white spaces and single quotes */
.class5 {
   background:url('../../netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/images/my-image.png') no-repeat;
}